{{> ./components/__header.html.hbs }}
{{! ======================================================================= !}}
<div class="row">
    <h1>Kebisafe media: <code>{{ media.hash_id }}</code></h1>
</div>

<div class="row text-center my-2">
    <span id="imageContainer">
        <img src="{{ common.permalink_original(&media) }}" alt="{{ media.hash_id }}" class="img-fluid">
    </span>
</div>

<div class="row">
    <h2>Details</h2>
    <div class="col-sm-12">
        <table class="table">
            <tbody>
                <tr>
                    <th>Hash ID</th>
                    <td><code>{{ media.hash_id }}</code></td>
                </tr>
                <tr>
                    <th>Dimensions</th>
                    <td>{{ media.width }} x {{ media.height }}</td>
                </tr>
                <tr>
                    <th>Uploaded at</th>
                    <td>{{ media.uploaded.format("%Y/%m/%d %T (%z)").to_string() }}</td>
                </tr>
                <tr>
                    <th>Original media permalink</th>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Original media permalink"
                                aria-label="Original media permalink" aria-describedby="copyOriginalPermalink"
                                id="originalPermalink" value="{{ common.permalink_original(&media) }}" readonly>
                            <button class="btn btn-outline-secondary clipboard" type="button" id="copyOriginalPermalink"
                                data-clipboard-target="#originalPermalink">Copy</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{! ======================================================================= !}}
{{> ./components/__footer.html.hbs }}
