{{> ../components/__header.html.hbs }}
{{! ======================================================================= !}}
<div class="row">
    <h1>Kebisafe media: <code>{{ media.hash_id }}</code></h1>
</div>

<div class="row text-center my-2">
    <div class="col" id="imageContainer">
        <img src="{{ common.permalink_original(&media) }}" alt="{{ media.hash_id }}" class="img-fluid">
    </div>
</div>

<div class="row">
    <h2>Details</h2>
    <div class="col">
        <table class="table">
            <tbody>
                <tr>
                    <th>Hash ID</th>
                    <td><code>{{ media.hash_id }}</code></td>
                </tr>
                <tr>
                    <th>Dimensions</th>
                    <td>{{ media.width }} x {{ media.height }}</td>
                </tr>
                <tr>
                    <th>Filesize</th>
                    <td>{{ media.filesize_str() }}</td>
                </tr>
                <tr>
                    <th>Uploaded at</th>
                    <td>{{ media.uploaded.format("%Y/%m/%d %T (%z)").to_string() }}</td>
                </tr>
                <tr>
                    <th class="align-middle">Original media permalink</th>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Original media permalink"
                                aria-label="Original media permalink" aria-describedby="copyOriginalPermalink"
                                id="originalPermalink" value="{{ common.permalink_original(&media) }}" readonly>
                            <button class="btn btn-outline-secondary clipboard" type="button" id="copyOriginalPermalink"
                                data-clipboard-target="#originalPermalink">Copy</button>
                        </div>
                    </td>
                </tr>
                {{#if common.account.is_some() }}
                <tr>
                    <th>Additional manipulation</th>
                    <td>
                        <form action="/m/{{ media.hash_id }}" method="POST">
                            <input type="hidden" name="_token" value="{{ common.csrf }}">
                            <input type="hidden" name="_method" value="PATCH">
                            <div class="mb-3">
                                <label for="detailDescription" class="form-label">Description</label>
                                <input type="text" class="form-control" id="detailDescription" name="comment" value="{{
                                    media.comment.as_deref().unwrap_or_default() }}">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="detailPrivate" name="private"
                                    value="true" {{ if media.is_private { "checked" } else { "" } }}>
                                <label class="form-check-label" for="detailPrivate">
                                    Make private (hidden from list)
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Danger zone</th>
                    <td>
                        <form action="/m/{{ media.hash_id }}" method="POST">
                            <input type="hidden" name="_token" value="{{ common.csrf }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Remove media</button>
                        </form>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <th>Description</th>
                    <td>{{ media.comment.as_deref().unwrap_or_default() }}</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
{{! ======================================================================= !}}
{{> ../components/__footer.html.hbs }}
